# Default ignored files
/shelf/
.openai
.idea
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Generated site output
/dist/
/node_modules/
*.tar.gz
